<div class="profile"><h3>Hi <%= @student.name %>!</h3>

<h3>You're currently signed up as a <span class="diet-choice">vegetarian</span> with an allergy to <span class="allergy">peanuts</span>.</h3>
</div>
