body {
  font-family: 'museo-sans-rounded';
  margin-bottom:100px;
  text-align:center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'museo-sans-rounded';
  font-weight:900;
}

.full-width {
  margin:-90px;
  position:relative;
  height: 100%;
}


.photo img {
  width:30%;
  float:left;
  margin:1%;
}

.container {
  margin-top:75px;
}
img.logo {
  width:200px;
  margin:10px;
}
header {
  background:#ffffff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
  text-align:center;
  position:fixed;
  top:0px;
  z-index:10000;
  width:100%;
}
.profile {
  text-align:center;
}

.profile h3 {
    line-height:1.5em;

}
.diet-choice {
  border-bottom: 3px dotted #4796ff;
  color: #4796ff;
}
.diet-choice:hover {
  border-bottom: 3px dotted #77b1fd;
  color: #77b1fd;
}

.allergy {
  border-bottom: 3px dotted #6b9e3f;
  color: #6b9e3f;
}
.allergy:hover {
  border-bottom: 3px dotted #99c770;
  color: #99c770;
}

form {
  text-align:center;
}

.stars {
  font-size:30px;
  text-align:center;
}
.stars {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.stars > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.stars > span:hover:before,
.stars > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.add-buttons #photo li {
  background-color:#f6b600;
}
.add-buttons #review li {
  background:#6b9e3f;
}
.add-buttons #checkin li {
  background:#4796ff;
}

li#add {
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.25);
  z-index:100;
  border-radius:5px;
}
#add .fa {
  color: #ff7500;
}
.add-buttons {
  display:none;
  position:fixed;
  bottom:100px;
  text-align:center;
  width:100%;
  z-index: 20000;
}
.add-buttons li {
  display: inline-block;
  background: #000000;
  padding:10px;
  border-radius:5px;
  margin: 0 10px;
}
.add-buttons ul {
  list-style-type:none;
  padding:0px;
}
.add-buttons a {
  color:#ffffff;
}
#checkin {
}

.overlay {
  display:none;
  width:200%;
  height:200%;
  margin:-200px;
  position:fixed;
  z-index:1000;
  background: rgba(0,0,0,0.5);
}

.bottom-nav {
  position:fixed;
  bottom:-10px;
  width:100%;
  text-align:center;

}


.bottom-nav ul  {
  list-style-type:none;
  background: #ffffff;
  width:100%;
  margin:0px;
  padding:0px;
  box-shadow: 5px -9px 5px rgba(0,0,0,0.25);
}

.border-right {
  border-right: 1px solid #cccccc;
}
.border-left {
  border-left: 1px solid #cccccc;
}


.bottom-nav li {
    display:inline-block;
    background:#ffffff;
    top:-5px;
    position:relative;
    width:15%;
    text-align:center;
}

.bottom-nav .fa {
  padding:10px;
}

.bottom-nav .fa-plus {
  padding:15px;
}

.bottom-nav a {
  color:#ff7500;
}
